#############################
#
# WCEP Pipeline Configuration
#
#############################

WCEPPipelineVersion=2.2 # This doesn't actually get used anywhere, but might in the future

## INITIAL SETUP

installdir=/scratch/WRGL/WRGL_scripts
genomeversion=GRCh37
genomename=GRCh37_no_gl000201

## WCEP-specific settings

runID="$( basename $PWD )" # This should automatically get the name of the current folder
runfolder=Data/Intensities/BaseCalls/"$runID"   # "Sample_project" column from SampleSheet.csv
experimentName=TruSightExpanded
pipelinescripts="$installdir"/SCRIPTS/Combined
auxscripts="$installdir"/SCRIPTS/aux_scripts
prefTranscripts="$installdir"/SCRIPTS/WCEP/PreferredTranscripts.txt

## SCRIPT PATH
scriptspath=/scratch/WRGL/scripts

# BED file paths (get written into variables file and referenced from there)
bedpath="$installdir"/BED_FILES/TSE/
targetbed=TruSight_Expanded_v2.1+-10bp.bed

## REFERENCE GENOMES

# NOTE: These folders contain soft-links to the actual data
#       so it doesn't end up in the repository taking up space.
bwarefgenome="$installdir"/REFERENCE_GENOME/"$genomeversion"/"$genomename"
refgenome="$installdir"/REFERENCE_GENOME/"$genomeversion"/"$genomename".fa
genomefile="$installdir"/REFERENCE_GENOME/"$genomeversion"/"$genomename".genome

## SOFTWARE PATHS

javatmp=-Djava.io.tmpdir=/scratch/WRGL/TEMP/JavaTmp
gatkpath=/scratch/WRGL/software/GenomeAnalysisTK-3.7/GenomeAnalysisTK.jar
picardpath=/scratch/WRGL/software/picard-tools-2.18.0/picard.jar
snpeffpath=/scratch/WRGL/software/snpEff_v43/snpEff/snpEff.jar
snpeffdb=GRCh37.75

## OTHER REF FILES

knownindels1="$installdir"/REFERENCE_FILES/"$genomeversion"/1000G_phase1.indels.b37.vcf.gz
knownindels2="$installdir"/REFERENCE_FILES/"$genomeversion"/Mills_and_1000G_gold_standard.indels.b37.vcf.gz
dbsnpfile="$installdir"/REFERENCE_FILES/"$genomeversion"/dbsnp_138.b37.vcf.gz

## MODULE FILES

module load bcl2fastq2/2.20
module load bwa/0.7.5a
module load jdk/1.8.0
module load bamUtil/1.0.10
module load samtools/1.1
module load bcftools/1.2.1
module load bedtools/2.21.0
module load htslib/1.9

## SCRIPT PBS PARAMS

#1
alignmentscript=1_Nextera_ReadAlignment.sh
alignmentwtime=06:00:00
alignmentnodes=1
alignmentppn=16
alignmentmem=32GB

#3
analysecovariationscript=3_Nextera_AnalyseCovariation.sh
analysecovariationwtime=06:00:00
analysecovariationnodes=1
analysecovariationppn=16
analysecovariationmem=32GB

# 4
variantcallerscript=4_Nextera_ApplyCovariation_VariantCalling.sh
variantcallerwtime=06:00:00
variantcallernodes=1
variantcallerppn=16
variantcallermem=32GB

# 5
varprocessingscript=5_Nextera_VariantProcessing.sh
varprocessingwtime=10:00:00
varprocessingnodes=1
varprocessingppn=16
varprocessingmem=32GB
