#############################
#
# WRGL Pipeline Configuration
#
#############################

WRGLPipeline_version=2.22

## INITIAL SETUP
# Unlike the WCEP, panels don't require any initial setup
# However, the rest of this file is the same

installdir=/scratch/WRGL/WRGL_scripts
auxdir="$installdir"/SCRIPTS/aux_scripts
genomeversion=GRCh37
genomename=GRCh37_no_gl000201

coveragebed="$installdir"/BED_FILES/COVERAGE/WRGL2_specific_transcripts_v1.bed

## REFERENCE GENOMES

bwarefgenome="$installdir"/REFERENCE_GENOME/"$genomeversion"/"$genomename"
refgenome="$installdir"/REFERENCE_GENOME/"$genomeversion"/"$genomename".fa
genomefile="$installdir"/REFERENCE_GENOME/"$genomeversion"/"$genomename".genome

## SCRIPT PATH
scriptspath=/scratch/WRGL/scripts

## SOFTWARE PATHS

javatmp=-Djava.io.tmpdir=/scratch/WRGL/TEMP/JavaTmp
gatkpath=/scratch/WRGL/software/gatk-3.7/GenomeAnalysisTK.jar
picardpath=/scratch/WRGL/software/picard-tools-2.18.0/picard.jar
snpeffpath=/scratch/WRGL/software/snpEff_v43/snpEff/snpEff.jar
snpeffdb=GRCh37.75

## OTHER REF FILES

knownindels1="$installdir"/REFERENCE_FILES/"$genomeversion"/1000G_phase1.indels.b37.vcf.gz
knownindels2="$installdir"/REFERENCE_FILES/"$genomeversion"/Mills_and_1000G_gold_standard.indels.b37.vcf.gz
dbsnpfile="$installdir"/REFERENCE_FILES/"$genomeversion"/dbsnp_138.b37.vcf.gz

## MODULE FILES

module load bwa/0.7.12
module load jdk/1.8.0
module load bamUtil/1.0.10
module load bcftools/1.2.1
module load bedtools/2.21.0
module load samtools/1.1
module load htslib/1.9
module load ensembl-vep/103.0
module load python/3.8.0

## SCRIPT PBS PARAMS

#1
alignmentscript=1_Nextera_ReadAlignment.sh
alignmentwtime=01:00:00
alignmentnodes=1
alignmentppn=12
alignmentmem=12GB

#3
analysecovariationscript=3_Nextera_AnalyseCovariation.sh
analysecovariationwtime=03:00:00
analysecovariationnodes=1
analysecovariationppn=16
analysecovariationmem=32GB

# 4
variantcallerscript=4_Nextera_ApplyCovariation_VariantCalling.sh
variantcallerwtime=00:45:00
variantcallernodes=1
variantcallerppn=8
variantcallermem=8GB

# 5
varprocessingscript=5_Nextera_VariantProcessing.sh
varprocessingwtime=00:45:00
varprocessingnodes=1
varprocessingppn=1
varprocessingmem=8GB
